<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
        <title> 
            <%= title %>
         </title>
    </head>
<body>
    <%- include('../partials/nav.ejs'); %>
    <div class="container mt-4"></div><h1>about</h1></div>
</body>
</html>